// _mixins.scss

@mixin button-style($bg-color, $text-color: black) {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    filter: brightness(0.9);
  }
}