// _variables.scss

// Colores
$color-primary: #5c6bc0; // Un púrpura/azul para el botón principal
$color-warning: #ffeb3b; // Amarillo
$color-danger: #f44336;  // Rojo
$color-ok: #2196f3;     // Azul

// Fondo
$color-background: #4caf50; // Verde

// Estilos de caja/card
$card-background: #ffffff;
$card-padding: 20px;