@import "tailwindcss";

body {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #0f1923; 
  overflow-x: hidden; 
  margin: 0;
  padding: 0;
}

.font-tungsten {
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: -0.05em;
  line-height: 0.9;
}

/* ---Iconos de Google --- */
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 24;
  vertical-align: middle;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.glitch-hover:hover {
  animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #ff4655;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #0f1923;
}
::-webkit-scrollbar-thumb {
  background: #ff4655;
  border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d93846;
}